.nav-outer {
  /* height: 5%; */
  border-bottom: 2px solid rgb(157, 153, 153);
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 10;
}

.header-logo {
  height: 5.9rem;
  border-radius: 0.25rem;
  margin-top: 0.15rem;
  cursor: pointer;
}

.header-items {
  display: flex;
  align-items: center;

  margin: 2.5rem;
}

.linked {
  text-decoration: none;
  color: black;
}

.header-items > span {
  font-size: large;
  cursor: pointer;
  margin-left: 3.125rem;
}

.log-btn {
  border: 0.125rem solid black;
  padding: 0.1875rem;
  border-radius: 0.25rem;
  color: white;
  background-color: black;
}

.log-linked {
  color: white;
  text-decoration: none;
}

.logged-in-user {
  font-weight: 700;
}

.cart {
  text-decoration: none;
  color: black;
}

.cart-length {
  color: black;
  text-decoration: none;
}


@media (max-width:675px){
  .log-btn{
    padding: 0.1rem;
  }
  .logged-in-user{
    font-weight: 300;
  }
  .header-items > span{
    margin-left: 2rem;
  }
}

@media (max-width:575px){
  .header-items> span{
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .header-logo{
    height: 4rem;
  }
  .header-items{
    margin: 0.5rem;
  }
}

@media (max-width: 410px){
  .header-items> span{
    font-size: 0.9rem;
  }
     .header-logo {
       height: 3.5rem;
     }
  
     .header-items {
       margin: 0.3rem;
     }
}