.items {
  display: flex;
  justify-content: space-between;
}

.item-list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.item-name {
  font-weight: 600;
  line-height: 1.5rem;
}

.item-description {
  padding-bottom: 0.25rem;
  opacity: 0.9;
}

.item-price {
  font-weight: 900;
  font-size: 1rem;
}

.item-list2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 0.325rem;
  padding-top: 0.925rem;
}

.item-img {
  padding-top: 0.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
}

.add-button {
  border-radius: 0.25rem;
  background-color: black;
  color: white;
  width: 3rem;
  height: 1.325rem;
  margin-right: 2rem;
  margin-left: 1rem;
  margin-top: 0.7rem;
  cursor: pointer;
}

@media (min-width:300px){
  .item-img{
    height: 7rem;

  }
}

@media (min-width:450px){
  .item-img{
    height: 5rem;
  }

 
}

@media (max-width:600px){
  .item-description{
    display: none;
  }
}