.app {
  /* height: 100vh; */
}

.nav-outer {
  /* height: 5%; */
  background-color: white;
  border-bottom: 2px solid rgb(157, 153, 153);
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.header-logo {
  height: 5.9rem;
  border-radius: 0.25rem;
  margin-top: 0.15rem;
}

.header-items {
  display: flex;
  align-items: center;
  margin: 2.5rem;
}

.header-items > span {
  font-size: large;
  cursor: pointer;
  margin-left: 3.125rem;
}

.log-btn {
  border: 0.125rem solid black;
  padding: 0.1875rem;
  border-radius: 0.25rem;
  color: white;
  background-color: black;
}

.restaraunt {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  /* background-color: aqua; */
}

.restaraunt-card {
  border: 2px solid black;
  margin: 0.5rem;
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  width: 22rem;
  height: 22rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.restaraunt-img {
  padding-top: 0.5rem;
  height: 60%;
  width: 90%;
  border-radius: 1rem;
}
